*
{
margin:0px;
padding:0px;
}
body
{
background-color:#F2F2F2;
margin:0px;
}
#container
{
width:1366px;
height:1400px;
margin:0px;
padding:0px;
background-color:#F2F2F2;
position:relative;
}
#header
{
position:fixed;
width:1350px;
height:75px;
margin:0px;
padding:0px;
background-color:#4D7397;
position:fixed;
z-index:1;
}
#bodyLayer
{
margin-top:85px;
background-color:#F2F2F2;
position:absolute;
}
#leftLayer
{
width:250px;
height:600px;
background-color:#F9F9F9;
float:left;
position:fixed;
}
#middleLayer
{
width:825px;
height:1400px;
float:left;
margin-left:260px;
margin-right:10px;
}
#bannerContainer
{
height:150px;
}
#dashheading
{
height:50px;
background-color:#F9F9F9;
border-bottom:1px solid #E8E8E8;
}
#dash
{
font-size:15px;
color:#8D8D8D;
padding-left:10px;
padding-top:10px;
}
#bannerLayer
{
width:825px;
height:100px;
background-color:#FFFFFF;
border-bottom:1px solid #E8E8E8;
border-left:1px solid #E8E8E8;
border-right:1px solid #E8E8E8;
}

#banner1
{
width:248px;
height:80px;
background-color:#1CAF9A;
margin-left:20px;
margin-top:10px;
float:left;
}

#banner2
{
width:248px;
height:80px;
margin-left:20px;
margin-right:20px;
margin-top:10px;
background-color:#D9534F;
float:left;
}

#banner3
{
width:248px;
height:80px;
margin-right:20px;
margin-top:10px;
background-color:#4D7397;
float:left;
}

#piechartLayer1
{
width:825px;
height:400px;
margin-top:15px;
background-color:#F9F9F9;
}

#piechartF1
{
width:382.5px;
height:370px;
margin-top:15px;
margin-bottom:15px;
margin-left:20px;
margin-right:10px;
background-color:#FFFFFF;
float:left;
}

#piechartF2
{
width:382.5px;
height:370px;
margin-left:10px;
margin-right:20px;
margin-top:15px;
margin-bottom:15px;
background-color:#FFFFFF;
float:left;
}

#barchartLayer
{
width:825px;
height:400px;
margin-top:10px;
background-color:#F9F9F9;
position:relative;
}
#barchart
{
width:785px;
height:380px;
background-color:#FFFFFF;
margin-left:20px;
margin-right:20px;
margin-top:10px;
margin-bottom:10px;
position:absolute;
}
#rightLayer
{
width:250px;
height:600px;
background-color:#F9F9F9;
float:left;
position:fixed;
margin-left:1095px;
}
#filterheading
{
height:25px;
font-size:16px;
color:#8D8D8D;
text-align:center;
margin-top:5px;
margin-bottom:5px;
border-bottom:1px solid #E8E8E8;
}